@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body {
  font-size: 18px;
  line-height: 28px;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 66px;
  line-height: 80px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 20px 0;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
}

h5,
h6,
a,
p,
button,
input,
textarea {
  font-size: 15px;
  line-height: 18.29px;
}

.extra-heading {
  font-size: 85px;
  line-height: 92px;
}

a {
  transition: all 0.3s ease-in-out;
}

button {
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
.content_wrapper {
  padding-top: 350px;
  @media (max-width: 768px) {
    padding-top: 250px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  h5,
  h6,
  a,
  p,
  button,
  input,
  textarea,
  li {
    font-size: 14px;
    line-height: 22px;
    }
  li {
    margin-bottom: 0;
  }
}
