.about {
  position: relative;
  padding: 90px 0;
  background: rgba(8, 10, 18, 1);
  color: #ffffff;
  overflow: hidden;

  .about_content {
  
    max-width: 688px;
  }
  .page-content{
    padding: 160px 0 ;
  }

  /* Tagline */
  .about_tagline {
    font-size: 12px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgba(0, 123, 255, 1);
    margin-bottom: 16px;
    font-weight: 700;
  }

  /* Main heading */
  .about_heading {
    h1,
    h2,
    p {
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      margin-bottom: 16px;

      span,
      strong {
        color: #7b808c; // muted second line
        font-weight: 600;
      }
    }
  }

  /* Description text */
  .about_text {
    max-width: 562px;
    p {
      font-family: Arial;
      padding-top: 15px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      color: #9aa0ad;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Right image */
  .about_media {
  position: relative;
  width: 100%;
  max-width: 688px;
  aspect-ratio: 1 / 1; // keeps square shape
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // IMPORTANT
    border-radius: 16px;
    background-color: #0c101c;

    box-shadow:
      0 40px 100px rgba(0, 0, 0, 0.7),
      inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  }
}
@media (max-width: 1200px){
  .page-content{
    padding: 70px 0;
  }
}
@media (max-width:991px){
 .about_media {
    display: none;
  }
  .about_content {
      max-width: 100%;
    }
    .about_heading{
      p{
        font-size: 56px;
        line-height: 60px;
      }
    }
  .about_text{
      max-width: 100%;
  }
}
  /* Responsive tweaks */
  @media (max-width: 767px) {
   
    padding: 30px 9px;
    .about_content {
      max-width: 100%;
    }
    .about_heading{
      p{
        font-size: 40px;
        line-height: 44px;
      }
    }
    .about_text{
      max-width: 100%;
      p{
        font-size: 16px;
        line-height: 20px;
      }

    }

     
  }

  @media (max-width: 575px) {
.about_heading{
      p{
        font-size: 32px;
        line-height: 36px;
      }
    }
    .about_text{
      max-width: 100%;
      p{
        font-size: 15px;
        line-height: 19px;
      }

    }
  }
}
