.header {
  background: #080A12;
  height: 96px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;

  .container {
    padding: 0;
  }

  .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .logo_header {
    padding: 28px 48px;

    img {
      height: 30px;
    }
  }

  /* DESKTOP MENU */
  .bugagency_menu {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0 80px 0 0;
    padding: 0;

    li a {
      color: #fff;
      font-size: 14px;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      text-decoration: none;
    }
      li.highlight-menu > a {
    color: #027bff !important;
    font-weight: 800;
    text-shadow: 0 0 8px rgba(2, 123, 255, 0.6);
    }
  }
  /* HAMBURGER */
  .hamburger_wrapper {
    display: none;
  }

  .hamburger {
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      height: 2px;
      width: 100%;
      background: #fff;
      transition: all 0.3s ease;
    }
  }

  /* MOBILE */
  @media (max-width: 767px) {

    height: 88px;
    padding: 0 24px;
    .logo_header {
      padding: 0;

      img {
        height: 24px;
      }
    }

    .hamburger_wrapper {
      display: flex;
      padding: 8px;
    }

    .bugagency_menu {
      position: fixed;
      top: 88px;
      left: 0;
      width: 100%;
      background: #080A12;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 32px 0;
      display: none;
      z-index: 9999;
    }

    .bugagency_menu.active {
      display: flex;
    }
  }
  @media (max-width: 480px) {

    height: 60px;
    .logo_header {
      padding: 0;

      img {
        height: 24px;
      }
    }

    .hamburger_wrapper {
      display: flex;
      padding: 8px;
    }

    .bugagency_menu {
      top: 60px;
    }

  }

}

/* HAMBURGER ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

